.meetingImages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 6.4rem 0 7.2rem;
  /* border: 1px solid red; */
}

.meetingImages .imageContainer {
  /* margin: 30rem auto; */
  /* border: 1px solid blue; */
  margin: 0 3rem;
  display: flex;
  justify-content: center;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid green; */
  border-radius: .8rem;
  /* height: 100%; */
  overflow: hidden;
  margin: 0 1.5rem;
}

.message {
  /* border: 1px solid pink; */
  width: 54rem;
  margin: 8rem 0 3rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.message h2 {
  margin-top: 2rem;
}

.message .text {
  margin-top: 3rem;
  color: #87879D;
}

@media (max-width: 900px) {
  .image {  
    margin: 0 .5rem;
  }

  .message {
    width: 57.3rem;
    font-size: 1.6rem;
    line-height: 2.6rem;
  }
}

@media (max-width: 570px) {
  .imageContainer {
    width: 100vw;
    flex-wrap: wrap;
    gap: 2rem;
  }
  
  .image {
    width: 35%;
    margin: 0;
  }

  .message .text,
  .message h2,
  .message .text {
    width: 95vw;
  }

  .message h2 {
    font-size: 3.2rem;
    line-height: 3.6rem;
    /* border: 1px solid yellow; */
  }

  /* .message .text {
    border: 1px solid yellow;
  } */
}